*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.4em;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:#000;
}

body{
    padding: 0 10px;
}

.search{
    padding: 10px 0;
}

.search__input{
    width:100%;
    padding:10px;
    border-radius: 5px;
    border:1px solid #000;
}

.pokemon-card{
    width: 100%;
    max-width: 600px;
    position: relative;
    border-radius: 5px;
    height:auto;
    margin:0 auto;
    padding:10px 20px 20px 20px;
    border:10px solid orange;
    background-color: steelblue;
}

.evolvedFrom-img{
    width:auto;
    position: absolute;
    top: 32px;
    left: 10px;
    border:3px solid orange;
    background-color: #212121;
}

.evolvedFrom-img img{
    width: 50px;
}
/* 
.title{
    margin-left:50px;
} */

.pokemon-header{
    display: flex;
    justify-content: space-between;
}

.pokemon-card-image{
    width:100%;
    display: grid;
    place-content: center;
    background-color: #212121;
}

.pokemon-card-image__img{
    width: 100%;
    max-width: 500px;
    margin:0 auto;
    border: 5px solid orange;
}

.pokemon-char{
    width: 100%;
    max-width:500px;
    display: flex;
    background-color: orange;
    margin: 5px auto;
    justify-content: space-evenly;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding:3px 0;
}

.pokemon-abilities{
    max-width: 500px;
    width:100%;
    background-color: orange;
    margin: 0 auto;
    padding:10px;
}

.pokemon-abilities hr{
    margin:10px 0;
    border:1px solid #000;
}

.pokemon-abilities__list{
    /* list-style-type: none; */
    padding-left:20px;
}

.pokemon-stats{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.pokemon-stats__item{
    width: 100%;
    max-width:150px;
    margin:0 auto;
    text-align: center;
    border-radius:5px;
    padding:5px 10px;
    background-color:green;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pokemon-types ul{
    /* display:grid;
    grid-template-columns: 1fr 1fr; */
    margin:10px 0;
    width: 100%;
}

.pokemon-types__list{
    display: inline;
    color:#fff;
    border-radius: 5px;
    padding:3px 10px;
    margin-right:20px;
    text-transform: uppercase;
    font-weight: bold;
}

.pokemon-moves{
    width: 100%;
    margin:20px 0;
    background-color:#e4e4e4;
    border-radius:5px;
    border: 5px solid #000;
}

.pokemon-moves__item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom:1px solid #000;
    padding:10px 20px;
}

.move-type{
    display: inline-block;
    background-color:pink;
    color:#fff;
    padding:5px 20px;
    border-radius: 5px;
}

.move-lvl, .move-type, .move-name, .move-points{
    font-weight:bold;
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding:20px 0 50px 0;
}

.previous, .next{
    display: grid;
    width: 100%;
    max-width: 220px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'id image';
    grid-gap:10px;
    align-items: center;
    justify-content: center;
    background-color: #e4e4e4;
    border-radius: 5px;
    padding:10px;
    /* margin:0 10px; */
}

.poke-img{
    grid-area: image;
    /* margin-left:30px; */
}

.previous img, .next img{
    width: 75px;
}


